// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
    };

    keymap {
        compatible = "zmk,keymap";

        colemak_dh {
            bindings = <
&kp Q           &kp W           &kp F        &kp P             &kp B             &kp J  &kp L         &kp U        &kp Y            &kp SEMICOLON
&mt LEFT_ALT A  &mt LEFT_GUI R  &mt LCTRL S  &mt LEFT_SHIFT T  &kp G             &kp M  &mt RSHFT N   &mt RCTRL E  &mt RIGHT_GUI I  &mt RIGHT_ALT O
&kp X           &kp C           &kp D        &kp V             &kp Z             &kp K  &kp H         &kp COMMA    &kp DOT          &kp QUESTION
                                             &kp SPACE         &mt ESCAPE TAB    &to 1  &lt 1 RETURN
            >;

            label = "colemak dh";
        };

        symbols {
            bindings = <
&kp EXCLAMATION   &kp AT     &kp HASH           &kp DOLLAR             &kp PERCENT      &kp CARET  &kp AMPERSAND  &kp ASTERISK  &kp MINUS  &kp EQUAL
&kp BACKSPACE     &kp COLON  &kp LEFT_BRACKET   &kp LEFT_PARENTHESIS   &kp SLASH        &trans     &trans         &trans        &trans     &trans
&kp SINGLE_QUOTE  &kp HASH   &kp RIGHT_BRACKET  &kp RIGHT_PARENTHESIS  &kp BACKSLASH    &trans     &trans         &trans        &trans     &trans
                                                &trans                 &to 0            &trans     &trans
            >;

            label = "symbols";
        };

        keeb {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &bt BT_CLR  &none  &none  &none  &bt BT_CLR
&none         &none         &bt BT_PRV    &bt BT_NXT    &out OUT_TOG    &none       &none  &none  &none  &none
&none         &none         &none         &none         &none           &none       &none  &none  &none  &none
                                          &none         &to 1           &to 0       &none
            >;

            label = "keeb";
        };
    };
};
